@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');


.header {
    background-color: white;
    font-family: 'Raleway', sans-serif;
}
h1 {
    margin-left: 75px;
}

.logo {
    height: 40px;
    width: 50px;
    float: left;
    
}

.navbar {
    background-color: #E4E6C3;
    font-family: 'Raleway', sans-serif;
    height: 50px;
}

.navbar ul {
    list-style: none;
    padding: 10px;
}

.navbar li {
    display: inline-block;
    margin: 0 75px;
    font-size: 20px;
}

.navbar .cart {
    height: 35px;
    width: 35px;
    float: right;
}


.picture {
    border-radius: 25px;
    margin-top: 15px;
    margin-bottom: 5px;
    width: 100vw;
    height: 450px;
}
.card {
    background-color: #F7F7F2;
    border-radius: 25px;
    border-style: solid;
    border-radius: 25px;
    width: 100vw;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
   /* margin: 10px;*/
    padding: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    text-align: center;
}

.btn-buy {
    background-color:#E4E6C3 ;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
    width: 50%;
    height: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    padding-top: 7px;
}

